body{

margin:0;

display:flex;

justify-content:center;

align-items:center;

min-height:100vh;

background:

linear-gradient(
135deg,
#edf7ff,
white
);

font-family:Arial;

}

.sucesso{

background:white;

padding:70px;

width:650px;

border-radius:30px;

text-align:center;

box-shadow:

0 20px 50px
rgba(0,0,0,.08);

}

.logo{

width:170px;

}

.ok{

width:250px;

margin:30px;

}

h1{

color:#2d7d46;

}