body{

margin:0;

background:#f7f8fc;

font-family:Arial;

}

.usuarios{

max-width:1200px;

margin:auto;

padding:50px;

}

.logo{

width:180px;

display:block;

margin:auto;

}

h1{

text-align:center;

color:#224bb8;

}

table{

width:100%;

margin-top:40px;

border-collapse:collapse;

background:white;

border-radius:20px;

overflow:hidden;

box-shadow:

0 10px 30px
rgba(0,0,0,.08);

}

th{

background:#224bb8;

color:white;

padding:20px;

}

td{

padding:18px;

text-align:center;

}

tr:hover{

background:#f8fbff;

}

button{

padding:10px 20px;

border:none;

background:#d9534f;

color:white;

border-radius:10px;

}